@model IEnumerable<Oponeo.CustomerManagementMVC.WebApp.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="~/Views/Products/GetProducts.cshtml" />