@model Oponeo.CustomerManagementMVC.WebApp.Models.HomeViewModel
@inject Oponeo.CustomerManagementMVC.Services.Statistics.ProductStatisticService productStatisticsService
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-title">Products</div>
            <div class="card-body">
                <partial name="~/Views/Products/GetProducts.cshtml" model="Model.Products" />
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-title">Graph type</div>
            <div class="card-body">
                <canvas id="productTypeChart" style="width:100%;max-width:700px"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-title">Products average price</div>
            <div class="card-body">
                <h4>@productStatisticsService.GetAveragePrice()</h4>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-title">Products total price</div>
            <div class="card-body">
                <h4>@productStatisticsService.GetTotalProducts()</h4>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function(){
            var url = '@Url.Action("GetGroupedProductTypes")';
            $.ajax({
                url,
                type: "GET",
                success: drawGraph,
            })
        });

         function drawGraph(values){
            var barColors = ["red", "green", "blue", "orange", "brown"];

            new Chart("productTypeChart",{
                type: "pie",
                data: {
                    labels: values.map(x=>x.key),
                    datasets: [{
                        backgroundColor: barColors,
                        data: values.map(x=>x.value)
                    }]
                },
            })
         }   
    </script>
}